@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        background-color: #3EA1CB;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .button-hover {
        background-color: #3ea1cbaa;
    }


}